<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Archivo DICOM</title>
</head>
<body>
    <h1>Detalle del Archivo DICOM</h1>

    <h2>Nombre del Paciente: {{ dicom_file.patient_name }}</h2>
    <h3>Fecha de Subida: {{ dicom_file.upload_date }}</h3>

    <h3>Tags Asociados:</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Descripción</th>
                <th>VR</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in dicom_file.tags.all %}
            <tr>
                <td>{{ tag.tag }}</td>
                <td>{{ tag.description }}</td>
                <td>{{ tag.vr }}</td>
                <td>{{ tag.value }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay tags asociados a este archivo DICOM.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'dicom_search' %}">Volver al listado</a>
</body>
</html>